body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table,
.table td,
.table th {
    border: 1px solid black;
}

.table td,
.table th {
    padding: 8px;
    text-align: left;
}

.logo {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

.photo-container {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}